.html {
	scroll-behavior: smooth;
}
header {
	position: relative;
	width: 100%;
	min-height: auto;
	text-align: center;
	color: #fff;
	/* background-image: url(/asset/laSunset.png); */
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
header .container {
	height: 100vh;
	padding-top: 15%;
	padding-bottom: 2.5%;
	flex-wrap: wrap;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
header h1 {
	font-weight: 900 !important;
}
@media screen and (max-width: 768px) {
	header .container {
		height: 50vh;
	}
}

.btn {
	border: 0;
	border-radius: 300px;
	font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	color: #222;
	letter-spacing: 0.05em;
}
h2:before {
	content: attr(data-text);
	position: absolute;
	width: 0;
	color: #03a9f4;
	overflow: hidden;
	animation: animate 6s linear infinite;
	flex-wrap: wrap;
	display: flex;
	justify-content: start;
}

@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}
	70%,
	90% {
		width: 100%;
	}
}
