/* tabs */
.nav {
  background-color: #1f1c13;
}
/* .active {
  background-color: #fdd7a8 !important;
}
.show {
  background-color: #4c473b !important;
} */
.nav-item a {
  color: #fdd7a8;
}
@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}
/* tabs */
#project {
  background-color: #1f1c13;
}

#my-project {
  background-color: #4c473b;
  /* border-radius: 0px; */
}
/* .project-img {
  background-color: #4c473b;
} */
/* profile */
/* contact */
